#root,
main, 
footer,
footer nav {
  display: flex;
}
#root,
body,
main {
  flex-direction: column;
}

footer {
  background: whitesmoke;
  padding: .5em .75em; 
  position: sticky;
    bottom: 0;
    margin: 1em 0 0;
}
footer nav {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 500px;
}


