#root,
body,
main, 
footer,
footer nav {
  display: flex;
}
#root,
body,
main {
  flex-direction: column;
}


main {
  margin:0 0 80px 0;
}

footer {
  background: whitesmoke;
  position: fixed;
  bottom: 0;
  margin: 1em 0 0;
  width: 100%;
}
footer nav {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em; 
  width: 100vw;
  max-width: 500px;
}
header svg {
  margin: 1em;
}

textarea {
  width: 90%;
  max-width: 100%;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 1em;
  line-height: 1.5;
  /* resize: none; */
  border: 1px solid #ccc;
  border-radius: 4px;
  /* overflow: hidden; */
}
.drinkButton,
.barButton {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 2em;
}
.drinkButton {
  background: #00ffd1;
  letter-spacing: -.25rem;
  padding: 0 .25rem 0 0;
}
.barButton {
  background: #0055ff;
}
.drinkButton.initialSelect {
  letter-spacing: -1rem;
  padding: 0 1rem 0 0;
}
.initialSelect {
  font-size: 8em;
  width: 200px;
  height: 200px;
}
.initialSelectionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.initialSelectionContainer button{
  margin: 1rem;
}



