.nameRatingsContainer,
.nameRatingsContainer ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.nameRatingsContainer h2 {
    margin: 0 .125em 0 0;
}
.nameRatingsContainer ul {
    padding: 0 0 0 .5em;
}