/* Layout */
.ratingsView {
    display: flex;
}
.ratingsView .myRating {
    text-decoration: underline wavy #7bc9d4;
    text-underline-offset: 0.25em;
}
.ratingsView .emoji {
    font-size: 1.5em;
    margin: 0 .25em;
}
.ratingsView button.buttonEmoji {
    padding: .125em .25em;
    margin: 0 .25em 0 2em;
}    
.ratingsView .emoji:first-of-type {
    margin: 0 .25em 0 0;
}
