/* Layout */
.userContainer {
    padding: .5em 1em;
    border-radius: 1em;
    margin: 1em 0;
}
/* Color */
.userContainer {
    background: lightblue;
}
.userContainer:first-of-type,
.userContainer:nth-of-type(4),
.userContainer:nth-of-type(7) {
    background: lightcoral;
}
.userContainer:nth-of-type(2),
.userContainer:nth-of-type(5),
.userContainer:nth-of-type(8) {
    background: lightgoldenrodyellow;
}
