.dotContainer {
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
}
.dot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin: 3px 0;
    background: black;
}