dialog.overlay {
    border: 1px solid #8080802b;
    border-radius: 10px;
}
.buttonHolder {
    display: flex;
    flex-direction: row-reverse;
}
.initialSelectionContainer .buttonHolder button {
    margin: 0;
}
.modalBtn {
    border: none;
    background: none;
}

.overlay form {
    display: flex;
    flex-direction: column;
    margin: .5em 2em;
    width: 350px;
    max-width: 100vw;
}
.overlay form select {
    font-size: 1.1em;
}
.overlay form input {
    font-size: 1em;
}
.overlay form label{
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 1.25em;
    line-height: 1.55em;
    margin: .25em 0;
}
.overlay form fieldset.formButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
}

dialog.overlay::backdrop {
    background: rgb(175 231 255 / 15%);
    backdrop-filter: blur(3px);
}
.positive {
    background: #39AEA9;
}
.negative {
    background: #557B83;
    color: white;
}
.positive,
.negative {
    border: none;
    padding: .5em 1em;
    border-radius: 5px;
}
.overlay form input.positive,
.overlay form button.negative {
    font-size: 1.15em;
}