.tropical .st0{fill:#646261;}
	.tropical .st1{fill:#62605E;}
	.tropical .st2{fill:#8A8783;}
	.tropical .st3{fill:#343233;}
	.tropical .st4{fill:#66655F;}
	.tropical .st5{fill:#666463;}
	.tropical .st6{fill:#4FD0E4;}
	.tropical .st7{fill:#4DC6E5;}
	.tropical .st8{fill:#E3E2DD;}
	.tropical .st9{fill:#5BD7E9;}
	.tropical .st10{fill:#BC7D4C;}
	.tropical .st11{fill:#999795;}
	.tropical .st12{fill:#5793CD;}
	.tropical .st13{fill:#A7A6A5;}
	.tropical .st14{fill:#7A7675;}
	.tropical .st15{fill:#95938F;}
	.tropical .st16{fill:#837F7C;}
	.tropical .st17{fill:#D9A37B;}
	.tropical .st18{fill:#9E9D9B;}
	.tropical .st19{fill:#276AA1;}
	.tropical .st20{fill:#F4E8E7;}
	.tropical .st21{fill:#7C7B78;}
	.tropical .st22{fill:#8C8A89;}
	.tropical .st23{fill:#64615E;}
	.tropical .st24{fill:#585857;}
	.tropical .st25{fill:#858180;}
	.tropical .st26{fill:#858380;}
	.tropical .st27{fill:#656360;}
	.tropical .st28{fill:#577114;}
	.tropical .st29{fill:#6B6765;}
	.tropical .st30{fill:#777372;}
	.tropical .st31{fill:#918D8A;}
	.tropical .st32{fill:#8E8C8E;}
	.tropical .st33{fill:#817F7B;}
	.tropical .st34{fill:#DBD9D8;}
	.tropical .st35{fill:#6B6867;}
	.tropical .st36{fill:#9EB948;}
	.tropical .st37{fill:#817D7D;}
	.tropical .st38{fill:#E1DFDD;}
	.tropical .st39{fill:#6D6A6A;}
	.tropical .st40{fill:#898683;}
	.tropical .st41{fill:#BEBEBD;}
	.tropical .st42{fill:#D1D1D1;}
	.tropical .st43{fill:#D2D2D2;}
	.tropical .st44{fill:#7C7A7B;}
	.tropical .st45{fill:#7C7A78;}
	.tropical .st46{fill:#747571;}
	.tropical .st47{fill:#716D6C;}
	.tropical .st48{fill:#807E7C;}
	.tropical .st49{fill:#E9C7C5;}
	.tropical .st50{fill:#D4D0CE;}
	.tropical .st51{fill:#84817E;}
	.tropical .st52{fill:#E7C5C4;}
	.tropical .st53{fill:#5AC8EF;}
	.tropical .st54{fill:#726F6C;}
	.tropical .st55{fill:#979390;}
	.tropical .st56{fill:#726D6D;}
	.tropical .st57{fill:#7F7C7B;}
	.tropical .st58{fill:#5A5856;}
	.tropical .st59{fill:#6A8716;}
	.tropical .st60{fill:#797573;}
	.tropical .st61{fill:#72D6F2;}
	.tropical .st62{fill:#7E8386;}
	.tropical .st63{fill:#75726C;}
	.tropical .st64{fill:#4DA7CF;}
	.tropical .st65{fill:#53C0F4;}
	.tropical .st66{fill:#DAE0C9;}
	.tropical .st67{fill:#A0BB48;}
	.tropical .st68{fill:#ECD3D2;}
	.tropical .st69{fill:#9D9DA1;}
	.tropical .st70{fill:#D0B7B7;}
	.tropical .st71{fill:#726E6D;}
	.tropical .st72{fill:#DFB6B4;}
	.tropical .st73{fill:#3985CE;}
	.tropical .st74{fill:#D5D4D4;}
	.tropical .st75{fill:#6E6B68;}
	.tropical .st76{fill:#427AA7;}
	.tropical .st77{fill:#3F76B1;}
	.tropical .st78{fill:#7E7B79;}
	.tropical .st79{fill:#7E7E7C;}
	.tropical .st80{fill:#8E8C89;}
	.tropical .st81{fill:#545051;}
	.tropical .st82{fill:#4C9FDB;}
	.tropical .st83{fill:#787470;}
	.tropical .st84{fill:#6E6C68;}
	.tropical .st85{fill:#7F7B7A;}
	.tropical .st86{fill:#D0B9AB;}
	.tropical .st87{fill:#858A8C;}
	.tropical .st88{fill:#494848;}
	.tropical .st89{fill:#6393BF;}
	.tropical .st90{fill:#6B6865;}
	.tropical .st91{fill:#4A4A47;}
	.tropical .st92{fill:#50B5DD;}
	.tropical .st93{fill:#6E6E6B;}
	.tropical .st94{fill:#827D7B;}
	.tropical .st95{fill:#817E7B;}
	.tropical .st96{fill:#D4996A;}
	.tropical .st97{fill:#52514D;}
	.tropical .st98{fill:#43423D;}
	.tropical .st99{fill:#6D6B67;}
	.tropical .st100{fill:#5C5B58;}
	.tropical .st101{fill:#757677;}
	.tropical .st102{fill:#6A6967;}
	.tropical .st103{fill:#93908D;}
	.tropical .st104{fill:#898284;}
	.tropical .st105{fill:#696564;}
	.tropical .st106{fill:#A3A1A0;}
	.tropical .st107{fill:#2367B5;}
	.tropical .st108{fill:#696663;}
	.tropical .st109{fill:#4F4C4A;}
	.tropical .st110{fill:#73706F;}
	.tropical .st111{fill:#7E7C7B;}
	.tropical .st112{fill:#767674;}
	.tropical .st113{fill:#989394;}
	.tropical .st114{fill:#75706B;}
	.tropical .st115{fill:#5F625F;}
	.tropical .st116{fill:#8C8B87;}
	.tropical .st117{fill:#E9CDCC;}
	.tropical .st118{fill:#746E6F;}
	.tropical .st119{fill:#A2A2A0;}
	.tropical .st120{fill:#545351;}
	.tropical .st121{fill:#5B5B59;}
	.tropical .st122{fill:#5D5B5A;}
	.tropical .st123{fill:#5B5957;}
	.tropical .st124{fill:#5D5C5A;}
	.tropical .st125{fill:#D0CDC8;}
	.tropical .st126{fill:#66C3E8;}
	.tropical .st127{fill:#6C7633;}
	.tropical .st128{fill:#64625B;}
	.tropical .st129{fill:#716258;}
	.tropical .st130{fill:#593227;}
	.tropical .st131{fill:#573326;}
	.tropical .st132{fill:#CDC7C2;}
	.tropical .st133{fill:#9C9593;}
	.tropical .st134{fill:#8A8683;}
	.tropical .st135{fill:#635B57;}
	.tropical .st136{fill:#878888;}
	.tropical .st137{fill:#6B6967;}
	.tropical .st138{fill:#706C67;}
	.tropical .st139{fill:#44D2E5;}
	.tropical .st140{fill:#38AEE6;}
	.tropical .st141{fill:#3DBAE2;}
	.tropical .st142{fill:#48BCDF;}
	.tropical .st143{fill:#94AE52;}
	.tropical .st144{fill:#667C29;}
	.tropical .st145{fill:#A97471;}
	.tropical .st146{fill:#7E9253;}
	.tropical .st147{fill:#46D3E8;}
	.tropical .st148{fill:#41D1E2;}
	.tropical .st149{fill:#56D7E7;}
	.tropical .st150{fill:#927760;}
	.tropical .st151{fill:#D18D62;}
	.tropical .st152{fill:#97684F;}
	.tropical .st153{fill:#98765E;}
	.tropical .st154{fill:#AB754D;}
	.tropical .st155{fill:#D0CECB;}
	.tropical .st156{fill:#C1BFBC;}
	.tropical .st157{fill:#8D8B8A;}
	.tropical .st158{fill:#B0AEAD;}
	.tropical .st159{fill:#9C9A99;}
	.tropical .st160{fill:#2E93DD;}
	.tropical .st161{fill:#3B8ED0;}
	.tropical .st162{fill:#3D8EC5;}
	.tropical .st163{fill:#4590D2;}
	.tropical .st164{fill:#4491D3;}
	.tropical .st165{fill:#4F4D4B;}
	.tropical .st166{fill:#595756;}
	.tropical .st167{fill:#908F8E;}
	.tropical .st168{fill:#B6B1AF;}
	.tropical .st169{fill:#B9B7B7;}
	.tropical .st170{fill:#B3AEAA;}
	.tropical .st171{fill:#7A7676;}
	.tropical .st172{fill:#B0ADA8;}
	.tropical .st173{fill:#545150;}
	.tropical .st174{fill:#2282CF;}
	.tropical .st175{fill:#1D6BA5;}
	.tropical .st176{fill:#AFADAC;}
	.tropical .st177{fill:#A5A3A2;}
	.tropical .st178{fill:#92908F;}
	.tropical .st179{fill:#83807F;}
	.tropical .st180{fill:#858583;}
	.tropical .st181{fill:#C2BFBC;}
	.tropical .st182{fill:#B0A2A1;}
	.tropical .st183{fill:#8F8C8A;}
	.tropical .st184{fill:#43433F;}
	.tropical .st185{fill:#837C73;}
	.tropical .st186{fill:#6E392A;}
	.tropical .st187{fill:#593B34;}
	.tropical .st188{fill:#444342;}
	.tropical .st189{fill:#BEBAB7;}
	.tropical .st190{fill:#A7A4A2;}
	.tropical .st191{fill:#A9A6A5;}
	.tropical .st192{fill:#4C4E49;}
	.tropical .st193{fill:#5B7B02;}
	.tropical .st194{fill:#567406;}
	.tropical .st195{fill:#678C04;}
	.tropical .st196{fill:#8CAE22;}
	.tropical .st197{fill:#928D91;}
	.tropical .st198{fill:#6A6665;}
	.tropical .st199{fill:#7A7877;}
	.tropical .st200{fill:#AFACA9;}
	.tropical .st201{fill:#797674;}
	.tropical .st202{fill:#888685;}
	.tropical .st203{fill:#72706E;}
	.tropical .st204{fill:#706D6E;}
	.tropical .st205{fill:#B9B9B5;}
	.tropical .st206{fill:#665B54;}
	.tropical .st207{fill:#675F5A;}
	.tropical .st208{fill:#98928A;}
	.tropical .st209{fill:#ABA598;}
	.tropical .st210{fill:#92B332;}
	.tropical .st211{fill:#A9CC37;}
	.tropical .st212{fill:#849136;}
	.tropical .st213{fill:#A8D029;}
	.tropical .st214{fill:#A3C22D;}
	.tropical .st215{fill:#A9A5A2;}
	.tropical .st216{fill:#B0ABAB;}
	.tropical .st217{fill:#827E7C;}
	.tropical .st218{fill:#7E7C7C;}
	.tropical .st219{fill:#313131;}
	.tropical .st220{fill:#B1B0AF;}
	.tropical .st221{fill:#B0AFAB;}
	.tropical .st222{fill:#484846;}
	.tropical .st223{fill:#949791;}
	.tropical .st224{fill:#A29F9C;}
	.tropical .st225{fill:#B2AEAE;}
	.tropical .st226{fill:#AAA5A3;}
	.tropical .st227{fill:#AAA8A7;}
	.tropical .st228{fill:#CC6762;}
	.tropical .st229{fill:#9E9B99;}
	.tropical .st230{fill:#9B908D;}
	.tropical .st231{fill:#938F8C;}
	.tropical .st232{fill:#C64446;}
	.tropical .st233{fill:#40AEE6;}
	.tropical .st234{fill:#608203;}
	.tropical .st235{fill:#064E98;}
	.tropical .st236{fill:#37ACF2;}
	.tropical .st237{fill:#46BDED;}
	.tropical .st238{fill:#90AE30;}
	.tropical .st239{fill:#88AF02;}
	.tropical .st240{fill:#A5D012;}
	.tropical .st241{fill:#93BC03;}
	.tropical .st242{fill:#D62A2B;}
	.tropical .st243{fill:#E03E45;}
	.tropical .st244{fill:#941D1D;}
	.tropical .st245{fill:#1059A8;}
	.tropical .st246{fill:#1171C3;}
	.tropical .st247{fill:#2769A3;}
	.tropical .st248{fill:#9B9D9A;}
	.tropical .st249{fill:#F6F5F2;}
	.tropical .st250{fill:#CBBEB3;}
	.tropical .st251{fill:#BFBDBA;}
	.tropical .st252{fill:#756E6D;}
	.tropical .st253{fill:#6C6966;}
	.tropical .st254{fill:#DAB852;}
	.tropical .st255{fill:#93908B;}
	.tropical .st256{fill:#9C9C97;}
	.tropical .st257{fill:#86837D;}
	.tropical .st258{fill:#605F5D;}
	.tropical .st259{fill:#767676;}
	.tropical .st260{fill:#7F7D7C;}
	.tropical .st261{fill:#52504E;}
	.tropical .st262{fill:#8D8C8A;}
	.tropical .st263{fill:#DDD9D2;}
	.tropical .st264{fill:#DBD8D5;}
	.tropical .st265{fill:#758929;}
	.tropical .st266{fill:#E7E4E1;}
	.tropical .st267{fill:#C9DFE7;}
	.tropical .st268{fill:#E3DDD8;}
	.tropical .st269{fill:#45BEF4;}
	.tropical .st270{fill:#AED2B9;}
	.tropical .st271{fill:#40C1E8;}
	.tropical .st272{fill:#889430;}
	.tropical .st273{fill:#79675F;}
	.tropical .st274{fill:#64463C;}
	.tropical .st275{fill:#611C0A;}
	.tropical .st276{fill:#632312;}
	.tropical .st277{fill:#552214;}
	.tropical .st278{fill:#75472B;}
	.tropical .st279{fill:#535149;}
	.tropical .st280{fill:#6D371B;}
	.tropical .st281{fill:#F4F2F2;}
	.tropical .st282{fill:#DFDEDC;}
	.tropical .st283{fill:#E3E1E0;}
	.tropical .st284{fill:#D7D8D4;}
	.tropical .st285{fill:#DAD8D6;}
	.tropical .st286{fill:#794E46;}
	.tropical .st287{fill:#887975;}
	.tropical .st288{fill:#8D8180;}
	.tropical .st289{fill:#928E8C;}
	.tropical .st290{fill:#C7C7C6;}
	.tropical .st291{fill:#B9B7B5;}
	.tropical .st292{fill:#DBD3C8;}
	.tropical .st293{fill:#A6A4A2;}
	.tropical .st294{fill:#D4D2D0;}
	.tropical .st295{fill:#D1CFCE;}
	.tropical .st296{fill:#AEABA5;}
	.tropical .st297{fill:#B5B3B1;}
	.tropical .st298{fill:#A9A29D;}
	.tropical .st299{fill:#BFBEBE;}
	.tropical .st300{fill:#46C8E7;}
	.tropical .st301{fill:#3DC8E0;}
	.tropical .st302{fill:#33A0E4;}
	.tropical .st303{fill:#319EE3;}
	.tropical .st304{fill:#607F1C;}
	.tropical .st305{fill:#644316;}
	.tropical .st306{fill:#5C8206;}
	.tropical .st307{fill:#889E42;}
	.tropical .st308{fill:#7F9030;}
	.tropical .st309{fill:#C48956;}
	.tropical .st310{fill:#D5D6D3;}
	.tropical .st311{fill:#DEDCDA;}
	.tropical .st312{fill:#D3D1CF;}
	.tropical .st313{fill:#ABA9A7;}
	.tropical .st314{fill:#D7D5D3;}
	.tropical .st315{fill:#D9D8D7;}
	.tropical .st316{fill:#62605F;}
	.tropical .st317{fill:#6D6C6B;}
	.tropical .st318{fill:#ADA498;}
	.tropical .st319{fill:#D4D3D2;}
	.tropical .st320{fill:#DCBB68;}
	.tropical .st321{fill:#72706F;}
	.tropical .st322{fill:#2079BF;}
	.tropical .st323{fill:#298CD4;}
	.tropical .st324{fill:#BBBABA;}
	.tropical .st325{fill:#B4B1B2;}
	.tropical .st326{fill:#D0CDCC;}
	.tropical .st327{fill:#A6A6A5;}
	.tropical .st328{fill:#AFAFAF;}
	.tropical .st329{fill:#D0CDCA;}
	.tropical .st330{fill:#D0CFCB;}
	.tropical .st331{fill:#C8CBC6;}
	.tropical .st332{fill:#E1B07B;}
	.tropical .st333{fill:#72443D;}
	.tropical .st334{fill:#908B80;}
	.tropical .st335{fill:#4B4D4E;}
	.tropical .st336{fill:#872717;}
	.tropical .st337{fill:#9E270C;}
	.tropical .st338{fill:#A83C19;}
	.tropical .st339{fill:#6D5B5E;}
	.tropical .st340{fill:#93220E;}
	.tropical .st341{fill:#8E7361;}
	.tropical .st342{fill:#635F59;}
	.tropical .st343{fill:#789F05;}
	.tropical .st344{fill:#6C9103;}
	.tropical .st345{fill:#719608;}
	.tropical .st346{fill:#6C8F0A;}
	.tropical .st347{fill:#87AA05;}
	.tropical .st348{fill:#7FA506;}
	.tropical .st349{fill:#EEB765;}
	.tropical .st350{fill:#C2CB7A;}
	.tropical .st351{fill:#F3B84F;}
	.tropical .st352{fill:#C9B59D;}
	.tropical .st353{fill:#ACC143;}
	.tropical .st354{fill:#ACA4A2;}
	.tropical .st355{fill:#C1BEBD;}
	.tropical .st356{fill:#969089;}
	.tropical .st357{fill:#F0EFEC;}
	.tropical .st358{fill:#749019;}
	.tropical .st359{fill:#88A719;}
	.tropical .st360{fill:#B3D33E;}
	.tropical .st361{fill:#B2D82F;}
	.tropical .st362{fill:#6E3F04;}
	.tropical .st363{fill:#ABD61A;}
	.tropical .st364{fill:#ADD623;}
	.tropical .st365{fill:#D6D4D2;}
	.tropical .st366{fill:#A6A6A3;}
	.tropical .st367{fill:#796765;}
	.tropical .st368{fill:#7F5E59;}
	.tropical .st369{fill:#ED0506;}
	.tropical .st370{fill:#DC2426;}
	.tropical .st371{fill:#C71413;}
	.tropical .st372{fill:#D73938;}
	.tropical .st373{fill:#8C8A86;}
	.tropical .st374{fill:#AE1F04;}
	.tropical .st375{fill:#729802;}
	.tropical .st376{fill:#9EC907;}
	.tropical .st377{fill:#8DB600;}
	.tropical .st378{fill:#98C304;}
	.tropical .st379{fill:#D01417;}
	.tropical .st380{fill:#EC0C06;}
	.tropical .st381{fill:#EA1D1D;}
	.tropical .st382{fill:#F10B16;}
	.tropical .st383{fill:#CC0203;}
	.tropical .st384{fill:#C20101;}
	.tropical .st385{fill:#A60907;}
	.tropical .st386{fill:#86161C;}
	.tropical .st387{fill:#B90300;}
	.tropical .st388{fill:#AE0301;}
	.tropical .st389{fill:#F8F6F5;}
	.tropical .st390{fill:#F6F6F4;}
	.tropical .st391{fill:#E0BD3B;}
	.tropical .st392{fill:#7E7772;}
	.tropical .st393{fill:#7C6E65;}
	.tropical .st394{fill:#7B6E62;}
	.tropical .st395{fill:#615F5C;}
	.tropical .st396{fill:#575554;}
	.tropical .st397{fill:#9A999A;}
	.tropical .st398{fill:#6A6968;}
	.tropical .st399{fill:#9C9C9C;}
	.tropical .st400{fill:#DFDBD7;}
	.tropical .st401{fill:#E1DCD3;}
	.tropical .st402{fill:#E3E0DB;}
	.tropical .st403{fill:#E9E6E1;}
	.tropical .st404{fill:#B2B881;}
	.tropical .st405{fill:#8F9D38;}
	.tropical .st406{fill:#C1C586;}
	.tropical .st407{fill:#E1E0E2;}
	.tropical .st408{fill:#3BAEF9;}
	.tropical .st409{fill:#EBE4B9;}
	.tropical .st410{fill:#60C4F6;}
	.tropical .st411{fill:#EDEAE8;}
	.tropical .st412{fill:#EBCE7C;}
	.tropical .st413{fill:#3673A6;}
	.tropical .st414{fill:#D6D2D3;}
	.tropical .st415{fill:#684339;}
	.tropical .st416{fill:#653A2D;}
	.tropical .st417{fill:#5C301D;}
	.tropical .st418{fill:#611607;}
	.tropical .st419{fill:#5C1808;}
	.tropical .st420{fill:#651907;}
	.tropical .st421{fill:#68220A;}
	.tropical .st422{fill:#6A280E;}
	.tropical .st423{fill:#6B2C12;}
	.tropical .st424{fill:#5D1E10;}
	.tropical .st425{fill:#7A4928;}
	.tropical .st426{fill:#693114;}
	.tropical .st427{fill:#733B1A;}
	.tropical .st428{fill:#815F42;}
	.tropical .st429{fill:#E0DFDD;}
	.tropical .st430{fill:#714237;}
	.tropical .st431{fill:#6E615C;}
	.tropical .st432{fill:#663E35;}
	.tropical .st433{fill:#5F4236;}
	.tropical .st434{fill:#7B6861;}
	.tropical .st435{fill:#CFCECC;}
	.tropical .st436{fill:#CDCCCC;}
	.tropical .st437{fill:#CBCCCA;}
	.tropical .st438{fill:#BFBFBE;}
	.tropical .st439{fill:#D5D6D5;}
	.tropical .st440{fill:#CACBCB;}
	.tropical .st441{fill:#C4C3C3;}
	.tropical .st442{fill:#C3C3C3;}
	.tropical .st443{fill:#B8B8B8;}
	.tropical .st444{fill:#E0DFDF;}
	.tropical .st445{fill:#EFEFEE;}
	.tropical .st446{fill:#E6E5E5;}
	.tropical .st447{fill:#547903;}
	.tropical .st448{fill:#455D05;}
	.tropical .st449{fill:#473504;}
	.tropical .st450{fill:#6F1112;}
	.tropical .st451{fill:#799820;}
	.tropical .st452{fill:#9BAD61;}
	.tropical .st453{fill:#EAEAEA;}
	.tropical .st454{fill:#CDCCCA;}
	.tropical .st455{fill:#E2E0DF;}
	.tropical .st456{fill:#DBDBDB;}
	.tropical .st457{fill:#DFDEDB;}
	.tropical .st458{fill:#E6E4E2;}
	.tropical .st459{fill:#9D9B99;}
	.tropical .st460{fill:#989695;}
	.tropical .st461{fill:#977C69;}
	.tropical .st462{fill:#D5D7D8;}
	.tropical .st463{fill:#D9D4D5;}
	.tropical .st464{fill:#DEDAD3;}
	.tropical .st465{fill:#E9E3E3;}
	.tropical .st466{fill:#D5D1DE;}
	.tropical .st467{fill:#D8D2E1;}
	.tropical .st468{fill:#E6BB68;}
	.tropical .st469{fill:#A7A7A7;}
	.tropical .st470{fill:#B1B1B1;}
	.tropical .st471{fill:#DADADA;}
	.tropical .st472{fill:#D6D5D4;}
	.tropical .st473{fill:#D7D4D1;}
	.tropical .st474{fill:#E0D9D2;}
	.tropical .st475{fill:#F4C796;}
	.tropical .st476{fill:#DBD9D7;}
	.tropical .st477{fill:#FCCE88;}
	.tropical .st478{fill:#FCCB8B;}
	.tropical .st479{fill:#D49E39;}
	.tropical .st480{fill:#744239;}
	.tropical .st481{fill:#794742;}
	.tropical .st482{fill:#872410;}
	.tropical .st483{fill:#A41D0C;}
	.tropical .st484{fill:#812416;}
	.tropical .st485{fill:#8D260E;}
	.tropical .st486{fill:#B11F0A;}
	.tropical .st487{fill:#BE2F06;}
	.tropical .st488{fill:#BA240A;}
	.tropical .st489{fill:#B6835A;}
	.tropical .st490{fill:#CF511D;}
	.tropical .st491{fill:#CC4314;}
	.tropical .st492{fill:#CB380B;}
	.tropical .st493{fill:#827876;}
	.tropical .st494{fill:#866C57;}
	.tropical .st495{fill:#836D5A;}
	.tropical .st496{fill:#83A707;}
	.tropical .st497{fill:#B2DB21;}
	.tropical .st498{fill:#F0B544;}
	.tropical .st499{fill:#EBA543;}
	.tropical .st500{fill:#E39A45;}
	.tropical .st501{fill:#D7D6A4;}
	.tropical .st502{fill:#CFCCAA;}
	.tropical .st503{fill:#C7BFA0;}
	.tropical .st504{fill:#D3D797;}
	.tropical .st505{fill:#A99A3C;}
	.tropical .st506{fill:#F5C133;}
	.tropical .st507{fill:#F9BE42;}
	.tropical .st508{fill:#C4BBA5;}
	.tropical .st509{fill:#C3CF71;}
	.tropical .st510{fill:#BD966C;}
	.tropical .st511{fill:#98938D;}
	.tropical .st512{fill:#FAFAF7;}
	.tropical .st513{fill:#F6F4F0;}
	.tropical .st514{fill:#6F9A01;}
	.tropical .st515{fill:#B9D943;}
	.tropical .st516{fill:#991C05;}
	.tropical .st517{fill:#711F06;}
	.tropical .st518{fill:#8A8078;}
	.tropical .st519{fill:#692415;}
	.tropical .st520{fill:#733F31;}
	.tropical .st521{fill:#F52E2F;}
	.tropical .st522{fill:#D7080B;}
	.tropical .st523{fill:#E30302;}
	.tropical .st524{fill:#CC0B03;}
	.tropical .st525{fill:#B90902;}
	.tropical .st526{fill:#AB1403;}
	.tropical .st527{fill:#DA0505;}
	.tropical .st528{fill:#F55453;}
	.tropical .st529{fill:#AB0101;}
	.tropical .st530{fill:#B3050E;}
	.tropical .st531{fill:#970500;}
	.tropical .st532{fill:#8A0902;}
	.tropical .st533{fill:#81090D;}
	.tropical .st534{fill:#6A4439;}
	.tropical .st535{fill:#73706E;}
	.tropical .st536{fill:#615F5D;}
	.tropical .st537{fill:#B6B5B4;}
	.tropical .st538{fill:#E2E0DB;}
	.tropical .st539{fill:#DADBDC;}
	.tropical .st540{fill:#E9E486;}
	.tropical .st541{fill:#E0DFE2;}
	.tropical .st542{fill:#C7C4A5;}
	.tropical .st543{fill:#D1CC96;}
	.tropical .st544{fill:#CEC7A1;}
	.tropical .st545{fill:#45B9FD;}
	.tropical .st546{fill:#187BCB;}
	.tropical .st547{fill:#54BCF3;}
	.tropical .st548{fill:#61B0E5;}
	.tropical .st549{fill:#32B5FC;}
	.tropical .st550{fill:#3B7EB5;}
	.tropical .st551{fill:#F6ED89;}
	.tropical .st552{fill:#EDE18A;}
	.tropical .st553{fill:#EFEEEB;}
	.tropical .st554{fill:#EAE5E5;}
	.tropical .st555{fill:#E1E1E0;}
	.tropical .st556{fill:#F4C860;}
	.tropical .st557{fill:#E6C563;}
	.tropical .st558{fill:#D7E0E5;}
	.tropical .st559{fill:#F1EBE5;}
	.tropical .st560{fill:#0D6FC1;}
	.tropical .st561{fill:#3677AA;}
	.tropical .st562{fill:#E3E4E2;}
	.tropical .st563{fill:#5C2D23;}
	.tropical .st564{fill:#61382B;}
	.tropical .st565{fill:#591507;}
	.tropical .st566{fill:#5B160B;}
	.tropical .st567{fill:#681707;}
	.tropical .st568{fill:#681A08;}
	.tropical .st569{fill:#65190B;}
	.tropical .st570{fill:#581A0C;}
	.tropical .st571{fill:#691D05;}
	.tropical .st572{fill:#6E2308;}
	.tropical .st573{fill:#73290A;}
	.tropical .st574{fill:#6F2F0C;}
	.tropical .st575{fill:#561E14;}
	.tropical .st576{fill:#723711;}
	.tropical .st577{fill:#784E2E;}
	.tropical .st578{fill:#774121;}
	.tropical .st579{fill:#814D18;}
	.tropical .st580{fill:#835222;}
	.tropical .st581{fill:#7B3E0D;}
	.tropical .st582{fill:#7E4414;}
	.tropical .st583{fill:#632E22;}
	.tropical .st584{fill:#57382E;}
	.tropical .st585{fill:#5D2517;}
	.tropical .st586{fill:#622A20;}
	.tropical .st587{fill:#DBDAD9;}
	.tropical .st588{fill:#DEDEDC;}
	.tropical .st589{fill:#E4E4E4;}
	.tropical .st590{fill:#DCDCDC;}
	.tropical .st591{fill:#F4F2F3;}
	.tropical .st592{fill:#7A971F;}
	.tropical .st593{fill:#83A036;}
	.tropical .st594{fill:#6E9616;}
	.tropical .st595{fill:#CAC8AC;}
	.tropical .st596{fill:#9CAF56;}
	.tropical .st597{fill:#ACAAA8;}
	.tropical .st598{fill:#967045;}
	.tropical .st599{fill:#E9E9E7;}
	.tropical .st600{fill:#E2DFDC;}
	.tropical .st601{fill:#F1D5B8;}
	.tropical .st602{fill:#FDCF8E;}
	.tropical .st603{fill:#DDDDDC;}
	.tropical .st604{fill:#FDD48F;}
	.tropical .st605{fill:#FED193;}
	.tropical .st606{fill:#F8C64A;}
	.tropical .st607{fill:#FACA96;}
	.tropical .st608{fill:#D2D6B4;}
	.tropical .st609{fill:#CC8E01;}
	.tropical .st610{fill:#B17900;}
	.tropical .st611{fill:#9E7032;}
	.tropical .st612{fill:#A67410;}
	.tropical .st613{fill:#AC7802;}
	.tropical .st614{fill:#A2711A;}
	.tropical .st615{fill:#A27427;}
	.tropical .st616{fill:#762212;}
	.tropical .st617{fill:#8E1D0B;}
	.tropical .st618{fill:#A01E0A;}
	.tropical .st619{fill:#981E09;}
	.tropical .st620{fill:#7E1809;}
	.tropical .st621{fill:#86170A;}
	.tropical .st622{fill:#791A0F;}
	.tropical .st623{fill:#AF1907;}
	.tropical .st624{fill:#B81C06;}
	.tropical .st625{fill:#C42009;}
	.tropical .st626{fill:#D12B0A;}
	.tropical .st627{fill:#DB8B2C;}
	.tropical .st628{fill:#D96523;}
	.tropical .st629{fill:#E17024;}
	.tropical .st630{fill:#E85509;}
	.tropical .st631{fill:#E54B0A;}
	.tropical .st632{fill:#DA420B;}
	.tropical .st633{fill:#DA310C;}
	.tropical .st634{fill:#79593B;}
	.tropical .st635{fill:#886348;}
	.tropical .st636{fill:#865E3F;}
	.tropical .st637{fill:#F2AC2E;}
	.tropical .st638{fill:#EE9927;}
	.tropical .st639{fill:#EC9122;}
	.tropical .st640{fill:#D4D293;}
	.tropical .st641{fill:#D9D8AF;}
	.tropical .st642{fill:#D4DA91;}
	.tropical .st643{fill:#D6D594;}
	.tropical .st644{fill:#DEDBA5;}
	.tropical .st645{fill:#C0C759;}
	.tropical .st646{fill:#B1C757;}
	.tropical .st647{fill:#B5BE4D;}
	.tropical .st648{fill:#B6A158;}
	.tropical .st649{fill:#FAC723;}
	.tropical .st650{fill:#FDC20D;}
	.tropical .st651{fill:#F7B209;}
	.tropical .st652{fill:#F6B72A;}
	.tropical .st653{fill:#CEA777;}
	.tropical .st654{fill:#FABF20;}
	.tropical .st655{fill:#FCC324;}
	.tropical .st656{fill:#C49243;}
	.tropical .st657{fill:#AAB466;}
	.tropical .st658{fill:#89210F;}
	.tropical .st659{fill:#941507;}
	.tropical .st660{fill:#A00B01;}
	.tropical .st661{fill:#6A170A;}
	.tropical .st662{fill:#611B0D;}
	.tropical .st663{fill:#71170D;}
	.tropical .st664{fill:#E60503;}
	.tropical .st665{fill:#E93432;}
	.tropical .st666{fill:#F64A48;}
	.tropical .st667{fill:#FD5357;}
	.tropical .st668{fill:#F36766;}
	.tropical .st669{fill:#F46D68;}
	.tropical .st670{fill:#F56057;}
	.tropical .st671{fill:#EEF3C4;}
	.tropical .st672{fill:#CFCE89;}
	.tropical .st673{fill:#F5ED78;}
	.tropical .st674{fill:#C6CA54;}
	.tropical .st675{fill:#E7E8B8;}
	.tropical .st676{fill:#D8D34F;}
	.tropical .st677{fill:#F5E773;}
	.tropical .st678{fill:#EAE8A1;}
	.tropical .st679{fill:#F2E780;}
	.tropical .st680{fill:#F1F4CD;}
	.tropical .st681{fill:#C4C296;}
	.tropical .st682{fill:#C7C79E;}
	.tropical .st683{fill:#9DAE1B;}
	.tropical .st684{fill:#1B77C3;}
	.tropical .st685{fill:#397BAB;}
	.tropical .st686{fill:#3F78AD;}
	.tropical .st687{fill:#4A7D9C;}
	.tropical .st688{fill:#E7E394;}
	.tropical .st689{fill:#FBEC79;}
	.tropical .st690{fill:#D9DA8E;}
	.tropical .st691{fill:#ECEAE8;}
	.tropical .st692{fill:#FDFDF3;}
	.tropical .st693{fill:#F4F2F0;}
	.tropical .st694{fill:#D8D9A3;}
	.tropical .st695{fill:#FEF2D6;}
	.tropical .st696{fill:#FDEDC9;}
	.tropical .st697{fill:#F4DFB8;}
	.tropical .st698{fill:#F7E9EB;}
	.tropical .st699{fill:#F7F6E5;}
	.tropical .st700{fill:#E6E4DF;}
	.tropical .st701{fill:#E9E6E5;}
	.tropical .st702{fill:#E5E2E0;}
	.tropical .st703{fill:#E7E5E4;}
	.tropical .st704{fill:#EEEAE5;}
	.tropical .st705{fill:#E5E2DE;}
	.tropical .st706{fill:#E9E7E6;}
	.tropical .st707{fill:#EBEAE8;}
	.tropical .st708{fill:#ECECEE;}
	.tropical .st709{fill:#541608;}
	.tropical .st710{fill:#63180B;}
	.tropical .st711{fill:#5D190C;}
	.tropical .st712{fill:#391F05;}
	.tropical .st713{fill:#50230B;}
	.tropical .st714{fill:#521A0E;}
	.tropical .st715{fill:#6E1C09;}
	.tropical .st716{fill:#6D1706;}
	.tropical .st717{fill:#721A07;}
	.tropical .st718{fill:#57280A;}
	.tropical .st719{fill:#501C10;}
	.tropical .st720{fill:#762005;}
	.tropical .st721{fill:#7A2605;}
	.tropical .st722{fill:#7F2B05;}
	.tropical .st723{fill:#7C310A;}
	.tropical .st724{fill:#733508;}
	.tropical .st725{fill:#4D241A;}
	.tropical .st726{fill:#86582B;}
	.tropical .st727{fill:#835934;}
	.tropical .st728{fill:#8B5116;}
	.tropical .st729{fill:#8D5621;}
	.tropical .st730{fill:#894910;}
	.tropical .st731{fill:#853C04;}
	.tropical .st732{fill:#7D3806;}
	.tropical .st733{fill:#86440A;}
	.tropical .st734{fill:#51271B;}
	.tropical .st735{fill:#5A1E12;}
	.tropical .st736{fill:#541E13;}
	.tropical .st737{fill:#EFEFEF;}
	.tropical .st738{fill:#DEDCDC;}
	.tropical .st739{fill:#E2E2E2;}
	.tropical .st740{fill:#E8E8E7;}
	.tropical .st741{fill:#CACB9E;}
	.tropical .st742{fill:#CBCCA8;}
	.tropical .st743{fill:#D3D0B4;}
	.tropical .st744{fill:#CDCB9B;}
	.tropical .st745{fill:#926534;}
	.tropical .st746{fill:#8E633F;}
	.tropical .st747{fill:#E1E3E9;}
	.tropical .st748{fill:#FAD99B;}
	.tropical .st749{fill:#FDE93F;}
	.tropical .st750{fill:#EAAA04;}
	.tropical .st751{fill:#FEE57A;}
	.tropical .st752{fill:#F6DA90;}
	.tropical .st753{fill:#FCD507;}
	.tropical .st754{fill:#FDE20E;}
	.tropical .st755{fill:#E3A103;}
	.tropical .st756{fill:#FDC601;}
	.tropical .st757{fill:#FEDC93;}
	.tropical .st758{fill:#FDDF97;}
	.tropical .st759{fill:#FBD58F;}
	.tropical .st760{fill:#FDE39C;}
	.tropical .st761{fill:#D29201;}
	.tropical .st762{fill:#C18500;}
	.tropical .st763{fill:#BC8100;}
	.tropical .st764{fill:#B87F03;}
	.tropical .st765{fill:#CB8702;}
	.tropical .st766{fill:#C58901;}
	.tropical .st767{fill:#D18C00;}
	.tropical .st768{fill:#AE7601;}
	.tropical .st769{fill:#B77800;}
	.tropical .st770{fill:#976628;}
	.tropical .st771{fill:#A77002;}
	.tropical .st772{fill:#9F6B10;}
	.tropical .st773{fill:#9D6A21;}
	.tropical .st774{fill:#8E1708;}
	.tropical .st775{fill:#981707;}
	.tropical .st776{fill:#A41708;}
	.tropical .st777{fill:#7E200C;}
	.tropical .st778{fill:#771609;}
	.tropical .st779{fill:#852009;}
	.tropical .st780{fill:#791B0C;}
	.tropical .st781{fill:#8F2009;}
	.tropical .st782{fill:#A61E07;}
	.tropical .st783{fill:#AE210A;}
	.tropical .st784{fill:#B52205;}
	.tropical .st785{fill:#C41C04;}
	.tropical .st786{fill:#BD2207;}
	.tropical .st787{fill:#CF2004;}
	.tropical .st788{fill:#EB8013;}
	.tropical .st789{fill:#EF8B19;}
	.tropical .st790{fill:#E96811;}
	.tropical .st791{fill:#ED7510;}
	.tropical .st792{fill:#EE6105;}
	.tropical .st793{fill:#E95F08;}
	.tropical .st794{fill:#EA5603;}
	.tropical .st795{fill:#E74A03;}
	.tropical .st796{fill:#F0620B;}
	.tropical .st797{fill:#E34207;}
	.tropical .st798{fill:#E23C09;}
	.tropical .st799{fill:#E03208;}
	.tropical .st800{fill:#DB2907;}
	.tropical .st801{fill:#F2AA20;}
	.tropical .st802{fill:#F0A21B;}
	.tropical .st803{fill:#F09719;}
	.tropical .st804{fill:#C9CE53;}
	.tropical .st805{fill:#C7C864;}
	.tropical .st806{fill:#B3B27A;}
	.tropical .st807{fill:#D8D29F;}
	.tropical .st808{fill:#DBDAAA;}
	.tropical .st809{fill:#DBD9B5;}
	.tropical .st810{fill:#C5C85F;}
	.tropical .st811{fill:#BFC35E;}
	.tropical .st812{fill:#D4D3A4;}
	.tropical .st813{fill:#C1B368;}
	.tropical .st814{fill:#FBCB15;}
	.tropical .st815{fill:#FDC51A;}
	.tropical .st816{fill:#FDC501;}
	.tropical .st817{fill:#FDC908;}
	.tropical .st818{fill:#FDBB02;}
	.tropical .st819{fill:#FAE245;}
	.tropical .st820{fill:#FDE01B;}
	.tropical .st821{fill:#FDE234;}
	.tropical .st822{fill:#FDB402;}
	.tropical .st823{fill:#D0B49D;}
	.tropical .st824{fill:#FDEB69;}
	.tropical .st825{fill:#E7C29C;}
	.tropical .st826{fill:#E1B775;}
	.tropical .st827{fill:#F9B111;}
	.tropical .st828{fill:#FBBB13;}
	.tropical .st829{fill:#72190B;}
	.tropical .st830{fill:#6D1C0C;}
	.tropical .st831{fill:#F75957;}
	.tropical .st832{fill:#F86661;}
	.tropical .st833{fill:#DFDAB1;}
	.tropical .st834{fill:#FBF9E7;}
	.tropical .st835{fill:#F6F6D6;}
	.tropical .st836{fill:#EFECD4;}
	.tropical .st837{fill:#F8F6DA;}
	.tropical .st838{fill:#F9F8DD;}
	.tropical .st839{fill:#ABC011;}
	.tropical .st840{fill:#CDD567;}
	.tropical .st841{fill:#B4C238;}
	.tropical .st842{fill:#C5CD53;}
	.tropical .st843{fill:#D5D2A1;}
	.tropical .st844{fill:#B1BF25;}
	.tropical .st845{fill:#C0C577;}
	.tropical .st846{fill:#D1D880;}
	.tropical .st847{fill:#D0CE97;}
	.tropical .st848{fill:#E2EDA9;}
	.tropical .st849{fill:#D8E0A0;}
	.tropical .st850{fill:#E5EDB2;}
	.tropical .st851{fill:#E7ECBC;}
	.tropical .st852{fill:#EDE58D;}
	.tropical .st853{fill:#9CB201;}
	.tropical .st854{fill:#A1B704;}
	.tropical .st855{fill:#E9E2BD;}
	.tropical .st856{fill:#D3D08C;}
	.tropical .st857{fill:#FEFEFD;}
	.tropical .st858{fill:#FEFDE8;}
	.tropical .st859{fill:#F0F2D4;}
	.tropical .st860{fill:#FEF6DC;}
	.tropical .st861{fill:#FAFAF8;}
	.tropical .st862{fill:#EDF1CB;}
	.tropical .st863{fill:#F4F2DF;}
	.tropical .st864{fill:#D1D893;}
	.tropical .st865{fill:#99A457;}
	.tropical .st866{fill:#A8AE61;}
	.tropical .st867{fill:#BEBE77;}
	.tropical .st868{fill:#FEEDDB;}
	.tropical .st869{fill:#FEEAD2;}
	.tropical .st870{fill:#FEEBBC;}
	.tropical .st871{fill:#FDE2B1;}
	.tropical .st872{fill:#FDDD9B;}
	.tropical .st873{fill:#FED894;}
	.tropical .st874{fill:#4D160B;}
	.tropical .st875{fill:#81260A;}
	.tropical .st876{fill:#6B3213;}
	.tropical .st877{fill:#2E1F03;}
	.tropical .st878{fill:#782009;}
	.tropical .st879{fill:#77210C;}
	.tropical .st880{fill:#761C05;}
	.tropical .st881{fill:#7D240C;}
	.tropical .st882{fill:#633104;}
	.tropical .st883{fill:#481B0F;}
	.tropical .st884{fill:#7D2105;}
	.tropical .st885{fill:#832606;}
	.tropical .st886{fill:#872D05;}
	.tropical .st887{fill:#853405;}
	.tropical .st888{fill:#915D28;}
	.tropical .st889{fill:#8F4F09;}
	.tropical .st890{fill:#945717;}
	.tropical .st891{fill:#8E3E04;}
	.tropical .st892{fill:#884300;}
	.tropical .st893{fill:#914901;}
	.tropical .st894{fill:#D4D29C;}
	.tropical .st895{fill:#D9D69F;}
	.tropical .st896{fill:#FDEE64;}
	.tropical .st897{fill:#FDE42A;}
	.tropical .st898{fill:#FBE03C;}
	.tropical .st899{fill:#FDE84A;}
	.tropical .st900{fill:#FECF00;}
	.tropical .st901{fill:#DD9C00;}
	.tropical .st902{fill:#EAB001;}
	.tropical .st903{fill:#D69600;}
	.tropical .st904{fill:#FEF17B;}
	.tropical .st905{fill:#F6B401;}
	.tropical .st906{fill:#FED890;}
	.tropical .st907{fill:#FDDFA8;}
	.tropical .st908{fill:#FEE79F;}
	.tropical .st909{fill:#D48F00;}
	.tropical .st910{fill:#C58101;}
	.tropical .st911{fill:#C17C01;}
	.tropical .st912{fill:#BC7A00;}
	.tropical .st913{fill:#CB8001;}
	.tropical .st914{fill:#D18501;}
	.tropical .st915{fill:#AF6D00;}
	.tropical .st916{fill:#B57200;}
	.tropical .st917{fill:#9A641A;}
	.tropical .st918{fill:#A56A00;}
	.tropical .st919{fill:#9A5F0D;}
	.tropical .st920{fill:#971A0A;}
	.tropical .st921{fill:#751D0B;}
	.tropical .st922{fill:#79210C;}
	.tropical .st923{fill:#8A260B;}
	.tropical .st924{fill:#962B0D;}
	.tropical .st925{fill:#9A240B;}
	.tropical .st926{fill:#A0200A;}
	.tropical .st927{fill:#B12A0A;}
	.tropical .st928{fill:#A7270C;}
	.tropical .st929{fill:#B5240D;}
	.tropical .st930{fill:#B92D0C;}
	.tropical .st931{fill:#C02907;}
	.tropical .st932{fill:#C92605;}
	.tropical .st933{fill:#D32A06;}
	.tropical .st934{fill:#D72205;}
	.tropical .st935{fill:#F4800B;}
	.tropical .st936{fill:#EE8C06;}
	.tropical .st937{fill:#F3980E;}
	.tropical .st938{fill:#EC6A08;}
	.tropical .st939{fill:#EE7109;}
	.tropical .st940{fill:#F27C04;}
	.tropical .st941{fill:#F06F01;}
	.tropical .st942{fill:#E85307;}
	.tropical .st943{fill:#F26E08;}
	.tropical .st944{fill:#E95E0E;}
	.tropical .st945{fill:#ED670B;}
	.tropical .st946{fill:#E54A05;}
	.tropical .st947{fill:#DC480B;}
	.tropical .st948{fill:#DF3B08;}
	.tropical .st949{fill:#DB3407;}
	.tropical .st950{fill:#F9A310;}
	.tropical .st951{fill:#BFC83C;}
	.tropical .st952{fill:#A7AA5C;}
	.tropical .st953{fill:#C5CD4A;}
	.tropical .st954{fill:#C3CB46;}
	.tropical .st955{fill:#BFC842;}
	.tropical .st956{fill:#BAC62C;}
	.tropical .st957{fill:#D2D386;}
	.tropical .st958{fill:#CBCA71;}
	.tropical .st959{fill:#D2CD9F;}
	.tropical .st960{fill:#C7CE75;}
	.tropical .st961{fill:#A09C66;}
	.tropical .st962{fill:#F3D8AC;}
	.tropical .st963{fill:#F3D4A5;}
	.tropical .st964{fill:#C3C56C;}
	.tropical .st965{fill:#F2CC91;}
	.tropical .st966{fill:#FAC50C;}
	.tropical .st967{fill:#FDD002;}
	.tropical .st968{fill:#FDD40B;}
	.tropical .st969{fill:#FDF059;}
	.tropical .st970{fill:#FBDA4F;}
	.tropical .st971{fill:#FDE45B;}
	.tropical .st972{fill:#FAD342;}
	.tropical .st973{fill:#FADB36;}
	.tropical .st974{fill:#FEDD07;}
	.tropical .st975{fill:#FDD221;}
	.tropical .st976{fill:#D6BEAE;}
	.tropical .st977{fill:#FDF58A;}
	.tropical .st978{fill:#FCF56B;}
	.tropical .st979{fill:#FDFA77;}
	.tropical .st980{fill:#E4CDB6;}
	.tropical .st981{fill:#FBBA06;}
	.tropical .st982{fill:#FCAE05;}
	.tropical .st983{fill:#FA6D6B;}
	.tropical .st984{fill:#F8DCB7;}
	.tropical .st985{fill:#FBE7C3;}
	.tropical .st986{fill:#F9F7EC;}
	.tropical .st987{fill:#FBF9E4;}
	.tropical .st988{fill:#FEFECB;}
	.tropical .st989{fill:#FCF1E5;}
	.tropical .st990{fill:#FEFDE0;}
	.tropical .st991{fill:#FDF9E6;}
	.tropical .st992{fill:#F6DBC0;}
	.tropical .st993{fill:#EEF2C3;}
	.tropical .st994{fill:#B8C735;}
	.tropical .st995{fill:#9DB40B;}
	.tropical .st996{fill:#C5CA61;}
	.tropical .st997{fill:#CED86D;}
	.tropical .st998{fill:#BFC654;}
	.tropical .st999{fill:#BBC936;}
	.tropical .st1000{fill:#A4A557;}
	.tropical .st1001{fill:#C3CC42;}
	.tropical .st1002{fill:#A2A93A;}
	.tropical .st1003{fill:#CFD76A;}
	.tropical .st1004{fill:#FEFAE2;}
	.tropical .st1005{fill:#FEF7D5;}
	.tropical .st1006{fill:#FDF4CC;}
	.tropical .st1007{fill:#FDEEC4;}
	.tropical .st1008{fill:#FEE6CC;}
	.tropical .st1009{fill:#FDE1BD;}
	.tropical .st1010{fill:#994209;}
	.tropical .st1011{fill:#6F3607;}
	.tropical .st1012{fill:#7A3504;}
	.tropical .st1013{fill:#A1330F;}
	.tropical .st1014{fill:#7F250A;}
	.tropical .st1015{fill:#85290C;}
	.tropical .st1016{fill:#8B2B08;}
	.tropical .st1017{fill:#8E3205;}
	.tropical .st1018{fill:#945201;}
	.tropical .st1019{fill:#954403;}
	.tropical .st1020{fill:#983B07;}
	.tropical .st1021{fill:#943507;}
	.tropical .st1022{fill:#9C4D01;}
	.tropical .st1023{fill:#FAE56E;}
	.tropical .st1024{fill:#FBEC59;}
	.tropical .st1025{fill:#FDE357;}
	.tropical .st1026{fill:#FEE25F;}
	.tropical .st1027{fill:#FCE976;}
	.tropical .st1028{fill:#FEDD19;}
	.tropical .st1029{fill:#FCDA30;}
	.tropical .st1030{fill:#FCD720;}
	.tropical .st1031{fill:#FDD901;}
	.tropical .st1032{fill:#FDDB05;}
	.tropical .st1033{fill:#FEDD0B;}
	.tropical .st1034{fill:#FCD247;}
	.tropical .st1035{fill:#FAE247;}
	.tropical .st1036{fill:#FCD131;}
	.tropical .st1037{fill:#FBE750;}
	.tropical .st1038{fill:#FECB00;}
	.tropical .st1039{fill:#E49C00;}
	.tropical .st1040{fill:#DB9400;}
	.tropical .st1041{fill:#E6A503;}
	.tropical .st1042{fill:#D79800;}
	.tropical .st1043{fill:#D8A100;}
	.tropical .st1044{fill:#DEA501;}
	.tropical .st1045{fill:#FDF185;}
	.tropical .st1046{fill:#FEF885;}
	.tropical .st1047{fill:#FCED7B;}
	.tropical .st1048{fill:#FDC001;}
	.tropical .st1049{fill:#FAC60B;}
	.tropical .st1050{fill:#EFB501;}
	.tropical .st1051{fill:#F2B802;}
	.tropical .st1052{fill:#FDEAAD;}
	.tropical .st1053{fill:#DA8E01;}
	.tropical .st1054{fill:#C47302;}
	.tropical .st1055{fill:#CC7902;}
	.tropical .st1056{fill:#BB7300;}
	.tropical .st1057{fill:#D48004;}
	.tropical .st1058{fill:#D88802;}
	.tropical .st1059{fill:#B56A00;}
	.tropical .st1060{fill:#AA6600;}
	.tropical .st1061{fill:#A46001;}
	.tropical .st1062{fill:#9E6300;}
	.tropical .st1063{fill:#9C5A02;}
	.tropical .st1064{fill:#9C2C0E;}
	.tropical .st1065{fill:#A2290E;}
	.tropical .st1066{fill:#BC350D;}
	.tropical .st1067{fill:#AA2D0E;}
	.tropical .st1068{fill:#B3340A;}
	.tropical .st1069{fill:#C52F08;}
	.tropical .st1070{fill:#CE3006;}
	.tropical .st1071{fill:#F48703;}
	.tropical .st1072{fill:#F78D07;}
	.tropical .st1073{fill:#FA9607;}
	.tropical .st1074{fill:#E35511;}
	.tropical .st1075{fill:#E14E0D;}
	.tropical .st1076{fill:#EE770E;}
	.tropical .st1077{fill:#E96518;}
	.tropical .st1078{fill:#EE6D13;}
	.tropical .st1079{fill:#D0440C;}
	.tropical .st1080{fill:#D53E06;}
	.tropical .st1081{fill:#DC5410;}
	.tropical .st1082{fill:#F99F02;}
	.tropical .st1083{fill:#FCC905;}
	.tropical .st1084{fill:#FAC101;}
	.tropical .st1085{fill:#FED601;}
	.tropical .st1086{fill:#FDED67;}
	.tropical .st1087{fill:#FACD4F;}
	.tropical .st1088{fill:#F9DC5D;}
	.tropical .st1089{fill:#FAE069;}
	.tropical .st1090{fill:#F9C647;}
	.tropical .st1091{fill:#F8CB39;}
	.tropical .st1092{fill:#F6C330;}
	.tropical .st1093{fill:#FCBD06;}
	.tropical .st1094{fill:#F6BC25;}
	.tropical .st1095{fill:#FEFD9D;}
	.tropical .st1096{fill:#FDFD91;}
	.tropical .st1097{fill:#FBFD87;}
	.tropical .st1098{fill:#FCF49A;}
	.tropical .st1099{fill:#FDF275;}
	.tropical .st1100{fill:#FCFC81;}
	.tropical .st1101{fill:#F9B601;}
	.tropical .st1102{fill:#F9A701;}
	.tropical .st1103{fill:#FEFED0;}
	.tropical .st1104{fill:#FEFEC1;}
	.tropical .st1105{fill:#FDFEC6;}
	.tropical .st1106{fill:#FDFDC1;}
	.tropical .st1107{fill:#FEFCE7;}
	.tropical .st1108{fill:#FEFEB7;}
	.tropical .st1109{fill:#FEFDA6;}
	.tropical .st1110{fill:#7C3C08;}
	.tropical .st1111{fill:#834109;}
	.tropical .st1112{fill:#A6390E;}
	.tropical .st1113{fill:#8C2C0C;}
	.tropical .st1114{fill:#9C3511;}
	.tropical .st1115{fill:#982D10;}
	.tropical .st1116{fill:#933109;}
	.tropical .st1117{fill:#9E4107;}
	.tropical .st1118{fill:#9E3C08;}
	.tropical .st1119{fill:#A35301;}
	.tropical .st1120{fill:#A64A05;}
	.tropical .st1121{fill:#FDDA52;}
	.tropical .st1122{fill:#FCD962;}
	.tropical .st1123{fill:#FED210;}
	.tropical .st1124{fill:#FAC729;}
	.tropical .st1125{fill:#FED401;}
	.tropical .st1126{fill:#F9CE55;}
	.tropical .st1127{fill:#F8C84E;}
	.tropical .st1128{fill:#FCC73E;}
	.tropical .st1129{fill:#F9C646;}
	.tropical .st1130{fill:#FBC237;}
	.tropical .st1131{fill:#FDCF00;}
	.tropical .st1132{fill:#E9A100;}
	.tropical .st1133{fill:#E09201;}
	.tropical .st1134{fill:#DC9900;}
	.tropical .st1135{fill:#DFA000;}
	.tropical .st1136{fill:#EBA601;}
	.tropical .st1137{fill:#E4AC00;}
	.tropical .st1138{fill:#EAA701;}
	.tropical .st1139{fill:#FDF48C;}
	.tropical .st1140{fill:#FDFD9A;}
	.tropical .st1141{fill:#FEF98E;}
	.tropical .st1142{fill:#FDBA01;}
	.tropical .st1143{fill:#F8BB01;}
	.tropical .st1144{fill:#FAB706;}
	.tropical .st1145{fill:#FDBB18;}
	.tropical .st1146{fill:#E7A600;}
	.tropical .st1147{fill:#EFAB01;}
	.tropical .st1148{fill:#FBB401;}
	.tropical .st1149{fill:#DC8A04;}
	.tropical .st1150{fill:#CC7206;}
	.tropical .st1151{fill:#BC6B02;}
	.tropical .st1152{fill:#C46E03;}
	.tropical .st1153{fill:#D07805;}
	.tropical .st1154{fill:#D47908;}
	.tropical .st1155{fill:#D98208;}
	.tropical .st1156{fill:#AF6000;}
	.tropical .st1157{fill:#B76503;}
	.tropical .st1158{fill:#A85B01;}
	.tropical .st1159{fill:#A83210;}
	.tropical .st1160{fill:#BF3D0E;}
	.tropical .st1161{fill:#C63907;}
	.tropical .st1162{fill:#AE370F;}
	.tropical .st1163{fill:#B53C0B;}
	.tropical .st1164{fill:#CC380B;}
	.tropical .st1165{fill:#F68D08;}
	.tropical .st1166{fill:#F38C12;}
	.tropical .st1167{fill:#F69600;}
	.tropical .st1168{fill:#E15E15;}
	.tropical .st1169{fill:#F18316;}
	.tropical .st1170{fill:#F2781A;}
	.tropical .st1171{fill:#EB711E;}
	.tropical .st1172{fill:#E5691B;}
	.tropical .st1173{fill:#CD4F11;}
	.tropical .st1174{fill:#D3520E;}
	.tropical .st1175{fill:#D84E10;}
	.tropical .st1176{fill:#C6400E;}
	.tropical .st1177{fill:#DA5912;}
	.tropical .st1178{fill:#FAAE06;}
	.tropical .st1179{fill:#F9A11B;}
	.tropical .st1180{fill:#FA970B;}
	.tropical .st1181{fill:#FBD45C;}
	.tropical .st1182{fill:#FBBD46;}
	.tropical .st1183{fill:#F9C13D;}
	.tropical .st1184{fill:#F8B834;}
	.tropical .st1185{fill:#FAB317;}
	.tropical .st1186{fill:#F5B028;}
	.tropical .st1187{fill:#F5AD20;}
	.tropical .st1188{fill:#FDF79A;}
	.tropical .st1189{fill:#FEFDA5;}
	.tropical .st1190{fill:#FEF8A2;}
	.tropical .st1191{fill:#FEFDAC;}
	.tropical .st1192{fill:#FEFDB8;}
	.tropical .st1193{fill:#FEFDAF;}
	.tropical .st1194{fill:#FEFDB2;}
	.tropical .st1195{fill:#FEFDAB;}
	.tropical .st1196{fill:#934B07;}
	.tropical .st1197{fill:#8C4705;}
	.tropical .st1198{fill:#B34310;}
	.tropical .st1199{fill:#A55007;}
	.tropical .st1200{fill:#AE3D0C;}
	.tropical .st1201{fill:#93310C;}
	.tropical .st1202{fill:#A13B0B;}
	.tropical .st1203{fill:#9A360A;}
	.tropical .st1204{fill:#A8400A;}
	.tropical .st1205{fill:#A54408;}
	.tropical .st1206{fill:#A7400B;}
	.tropical .st1207{fill:#AC5702;}
	.tropical .st1208{fill:#A85104;}
	.tropical .st1209{fill:#B15008;}
	.tropical .st1210{fill:#AE4B09;}
	.tropical .st1211{fill:#FBBB2B;}
	.tropical .st1212{fill:#FEC24A;}
	.tropical .st1213{fill:#FBBE3D;}
	.tropical .st1214{fill:#FBB739;}
	.tropical .st1215{fill:#FAB432;}
	.tropical .st1216{fill:#EEA300;}
	.tropical .st1217{fill:#D69001;}
	.tropical .st1218{fill:#E88D09;}
	.tropical .st1219{fill:#EC9C05;}
	.tropical .st1220{fill:#FEFB95;}
	.tropical .st1221{fill:#FBAE04;}
	.tropical .st1222{fill:#FBB30F;}
	.tropical .st1223{fill:#FAB020;}
	.tropical .st1224{fill:#F39F05;}
	.tropical .st1225{fill:#F6A305;}
	.tropical .st1226{fill:#F8A804;}
	.tropical .st1227{fill:#D18703;}
	.tropical .st1228{fill:#C76B08;}
	.tropical .st1229{fill:#CC690C;}
	.tropical .st1230{fill:#D2700F;}
	.tropical .st1231{fill:#C06906;}
	.tropical .st1232{fill:#CA7E05;}
	.tropical .st1233{fill:#C27402;}
	.tropical .st1234{fill:#B35F04;}
	.tropical .st1235{fill:#BD6009;}
	.tropical .st1236{fill:#BF450E;}
	.tropical .st1237{fill:#C84713;}
	.tropical .st1238{fill:#B9450E;}
	.tropical .st1239{fill:#F89616;}
	.tropical .st1240{fill:#F48F1D;}
	.tropical .st1241{fill:#DA6111;}
	.tropical .st1242{fill:#E16515;}
	.tropical .st1243{fill:#F28623;}
	.tropical .st1244{fill:#EE7C24;}
	.tropical .st1245{fill:#E7731E;}
	.tropical .st1246{fill:#CF590C;}
	.tropical .st1247{fill:#C54C10;}
	.tropical .st1248{fill:#C95210;}
	.tropical .st1249{fill:#F1A523;}
	.tropical .st1250{fill:#F9B841;}
	.tropical .st1251{fill:#F6AF3A;}
	.tropical .st1252{fill:#F6AF31;}
	.tropical .st1253{fill:#985206;}
	.tropical .st1254{fill:#BC4D12;}
	.tropical .st1255{fill:#A65908;}
	.tropical .st1256{fill:#B8590C;}
	.tropical .st1257{fill:#B64F0C;}
	.tropical .st1258{fill:#AE460C;}
	.tropical .st1259{fill:#AE4509;}
	.tropical .st1260{fill:#B55707;}
	.tropical .st1261{fill:#BA540A;}
	.tropical .st1262{fill:#F9B02D;}
	.tropical .st1263{fill:#F7AB31;}
	.tropical .st1264{fill:#EE930A;}
	.tropical .st1265{fill:#EA860E;}
	.tropical .st1266{fill:#E3840D;}
	.tropical .st1267{fill:#EF910F;}
	.tropical .st1268{fill:#F19907;}
	.tropical .st1269{fill:#F8AA10;}
	.tropical .st1270{fill:#F7A827;}
	.tropical .st1271{fill:#F7A31A;}
	.tropical .st1272{fill:#F49B0C;}
	.tropical .st1273{fill:#F7A40C;}
	.tropical .st1274{fill:#C4640B;}
	.tropical .st1275{fill:#C5600A;}
	.tropical .st1276{fill:#BA6B06;}
	.tropical .st1277{fill:#DE7A0B;}
	.tropical .st1278{fill:#C67808;}
	.tropical .st1279{fill:#D3770C;}
	.tropical .st1280{fill:#BF5B0C;}
	.tropical .st1281{fill:#F69A21;}
	.tropical .st1282{fill:#F2912B;}
	.tropical .st1283{fill:#F69D29;}
	.tropical .st1284{fill:#D8650F;}
	.tropical .st1285{fill:#D3610E;}
	.tropical .st1286{fill:#DF6F11;}
	.tropical .st1287{fill:#E46B18;}
	.tropical .st1288{fill:#F08428;}
	.tropical .st1289{fill:#EA7B20;}
	.tropical .st1290{fill:#E37612;}
	.tropical .st1291{fill:#C65E0F;}
	.tropical .st1292{fill:#F5A52F;}
	.tropical .st1293{fill:#F6A634;}
	.tropical .st1294{fill:#AE6007;}
	.tropical .st1295{fill:#B6650A;}
	.tropical .st1296{fill:#BD550D;}
	.tropical .st1297{fill:#F5A02D;}
	.tropical .st1298{fill:#F39712;}
	.tropical .st1299{fill:#E47E0B;}
	.tropical .st1300{fill:#EB8719;}
	.tropical .st1301{fill:#E87C14;}
	.tropical .st1302{fill:#F49A1D;}
	.tropical .st1303{fill:#F0921F;}
	.tropical .st1304{fill:#F6A024;}
	.tropical .st1305{fill:#BF7008;}
	.tropical .st1306{fill:#E07609;}
	.tropical .st1307{fill:#DA720B;}
	.tropical .st1308{fill:#C56A0A;}
	.tropical .st1309{fill:#F69E32;}
	.tropical .st1310{fill:#EF8821;}
	.tropical .st1311{fill:#F49930;}
	.tropical .st1312{fill:#F38A2B;}
	.tropical .st1313{fill:#F3992B;}
	.tropical .st1314{fill:#D86A0F;}
	.tropical .st1315{fill:#D06713;}