li.emoji button p.emojiRating.myRating {
   background: #003e56;
   padding: .25em;
   border-radius: 50%;
}
li.emoji button p.emojiRating {
    font-size: 1.1em;
}
.remove {
    background: none;
    border: none;
    padding: 0;
    margin: 0 .125em;
    max-width: 35px;
}
li.emoji {
    display: flex;
    flex-direction: column;
}
li.emoji p {
    font-size: .4em;
    color: #003e56;
    margin: 0;
}